<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="project73hospital.My.MySettings.DB73ConnectionString" connectionString="Data Source=DESKTOP-FGMANFB\SEKLNWZA01;Initial Catalog=DB73;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
